@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply font-roboto
}

.primary-glass {
    @apply bg-black bg-opacity-40 backdrop-blur-lg
    bg-clip-padding
}

.secondary-glass {
    @apply bg-black bg-opacity-50 backdrop-blur-lg
    bg-clip-padding 
}

.primary-glass-screens {
    @apply sm:bg-black sm:bg-opacity-40 sm:backdrop-blur-lg
}

.light-glass {
    @apply bg-white bg-opacity-30 backdrop-blur-sm bg-clip-padding
}

.tertiary-glass {
    @apply bg-black bg-opacity-50 backdrop-blur-lg
    bg-clip-padding 
}

label {
    @apply block text-gray-400 
}

.input, select {
    @apply bg-black opacity-40
     rounded-lg pr-5 pl-2 py-1
     w-2/3 md:w-1/2 lg:w-5/12 text-sm
     text-gray-200 shadow-sm shadow-gray-800
     focus:outline-none
     focus:ring-2 ring-gray-700
     ease-in-out duration-500
}

.button {
    @apply mt-10 text-gray-200
    bg-black opacity-40 border border-gray-600
    rounded-md hover:ring-2
    hover:opacity-100 ease-in-out duration-300
}

html {
    @apply max-h-screen
}

body {
    @apply min-h-screen
}

#__next {
    @apply min-h-screen
}